
.app-header {
  color: white;
  //background: #0b004d;
  //background: #ff9506;
  background: #6b34dc;
  height: 50px;
}

.app-header-user-name {
  float: right;
  margin-top: 10px;
  a {
    color: white;
  }
}
